#carousel-wrapper {
    width: 75%;
    height: 500px;
    margin-top: 20px;
    display: block;

    ol.carousel-indicators li {
        visibility: hidden;
    }

    .carousel-inner .item img{
        width: 100%;
        height: 500px;
    }

    .headline-center-v2 h2 {
        color: #555;
        font-size: 24px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

   

    
}

.headline-center-v2 {
    z-index: 0;
    text-align: center;
    position: relative;
    clear: both;
}

.headline-center-v2.headline-center-v2-dark span.bordered-icon {
    color: #666;
}

.headline-center-v2 span.bordered-icon {
    color: #fff;
    padding: 0 10px;
    font-size: 15px;
    line-height: 18px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
}

.headline-center-v2.headline-center-v2-dark span.bordered-icon:before, .headline-center-v2.headline-center-v2-dark span.bordered-icon:after {
    background: #666;
}

.headline-center-v2 span.bordered-icon:after {
    right: 100%;
}

.headline-center-v2 span.bordered-icon:before, .headline-center-v2 span.bordered-icon:after {
    top: 8px;
    height: 1px;
    content: " ";
    width: 100px;
    background: #fff;
    position: absolute;
}

.content-boxes-v6 {
    padding-top: 25px;
    text-align: center;
}

.content-boxes-v6 i {
    color: #fff;
    padding: 30px;
    font-size: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
    background: #72c02c !important;
    margin-bottom: 25px;
    display: inline-block;
}

.rounded-x {
    border-radius: 50% !important;
}

.content-boxes-v6 i:after {
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    content: " ";
    position: absolute;
    border: 1px solid #dedede;
    border-radius: 50% !important;
}

a {
    color: #72c02c;
    text-decoration: none;
}

.content-boxes-v6:hover i {
    background: #3764c8 !important;
}
