#carousel-wrapper {
    ol.carousel-indicators li {
        visibility: hidden;
    }

    .carousel-inner .item img{
        width: 100%;
        height: 500px;
    }

    .headline-center-v2 h2 {
        color: #555;
        font-size: 24px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
}

#home-page-content-wrapper {
    margin: 0 auto;
}

.front-page-content {
    height: 74vh;
    padding-top: 5%;
}

.heading-xs {
    color: #FD2424;
    padding: 5px 0 0 0;
    font-size: 16px;
    line-height: 22px;
}

#carousel-wrapper, #headlines-wrapper {
    height: 500px;
} 

.notification {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 15px 15px 0 0;
    border-top: 1px solid #eee;

    a {
        color: #777;
    }
}

.notification:first-child {
    border-top: none;
}

.profile .notification i {
    float: left;
    margin-right: 10px;
}

.fa-angle-double-right {
    padding-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.overflow-h {
    overflow: hidden;
}

.profile .notification span {
    color: #777;
    display: block;
}

#headlines-wrapper {
    background: #f7f7f7;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

.headline-center-v2 {
    z-index: 0;
    text-align: center;
    position: relative;
    clear: both;
}

.headline-center-v2.headline-center-v2-dark span.bordered-icon {
    color: #666;
}

.headline-center-v2 span.bordered-icon {
    color: #fff;
    padding: 0 10px;
    font-size: 15px;
    line-height: 18px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
}

.headline-center-v2.headline-center-v2-dark span.bordered-icon:before, .headline-center-v2.headline-center-v2-dark span.bordered-icon:after {
    background: #666;
}

.headline-center-v2 span.bordered-icon:after {
    right: 100%;
}

.headline-center-v2 span.bordered-icon:before, .headline-center-v2 span.bordered-icon:after {
    top: 8px;
    height: 1px;
    content: " ";
    width: 100px;
    background: #fff;
    position: absolute;
}

.home-page-align {
    width: 80%;
    margin: 0 auto;
}

.content-boxes-v6 {
    padding-top: 25px;
    text-align: center;

    a {
        color: #72c02c;
        text-decoration: none;
    }
}

.content-boxes-v6 i {
    color: #fff;
    padding: 30px;
    font-size: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
    background: #72c02c !important;
    margin-bottom: 25px;
    display: inline-block;
}

.rounded-x {
    border-radius: 50% !important;
}

.content-boxes-v6 i:after {
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    content: " ";
    position: absolute;
    border: 1px solid #dedede;
    border-radius: 50% !important;
}

.content-boxes-v6:hover i {
    background: #3764c8 !important;
}

.parallax-counter-v4 {
    z-index: 1;
    height: auto;
    padding: 30px 0;
    overflow: hidden;
    text-align: center;
    position: relative;
    //background: url(../img/bg/19.jpg) 50% 0 fixed;
}

.parallax-counter-v4:after {
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    content: " ";
    height: 100%;
    text-align: center;
    position: absolute;
    background: rgba(0,0,0,0.5);
}

.content-sm {
    padding-top: 60px;
    padding-bottom: 60px;
}

/******* Multi item carousel css******/

.multi-item-carousel{

    .carousel-inner{

        .mc-item {
            padding-left: 0px;
            padding-right: 0px;
        }

        .item {
            img {
                width: 100%;
                height: 100%;
            }
        }
      > .item{
        transition: 500ms ease-in-out left;
      }
      .active{
        &.left{
          left:-25%;
        }
        &.right{
          left:25%;
        }
      }
      .next{
        left: 25%;
      }
      .prev{
        left: -25%;
      }
      @media all and (transform-3d), (-webkit-transform-3d) {
        > .item{
          // use your favourite prefixer here
          transition: 500ms ease-in-out left;
          transition: 500ms ease-in-out all;
          backface-visibility: visible;
          transform: none!important;
        }
      }
    }
    .carouse-control{
      &.left, &.right{
        background-image: none;
      }
    }
  }
  
.row.equal {
    display: table;
}

.row.equal > [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}