.contacts{
    width: 95%;
    margin: 0 auto;

    .contactUs{
        height: 40px;
      }

      .contactUsLabel{
        padding-right: 5%;
      }

      .contactDiv {
        margin-right: 12px;
        padding: 15px;
    }
  }


  

  