<section id="contact-wrapper">
    <div class="row contacts">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 contactDiv">
            <h3>Connect With Us!</h3>
            <p>
                <span class="glyphicon glyphicon-map-marker"></span> Sundaram Furniture, Balaji Plots, In front of Axis Bank, Khamgaon - 444303, Buldana, Maharashtra
            </p>
            <p>
                <span class="glyphicon glyphicon-earphone"></span>+91-9422926950/(07263)252962
            </p>
           
            <p>Email us ! We will keep posted with our latest product release</p>
            <div class="social-media">
                <a href="https://www.facebook.com/Stimulus-Learning-Point-321070051402291/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 contactDiv">
            <form name="contactUsForm">
                <h3>Get in Touch!</h3>
                <table>
                    <tr class="contactUs">
                        <td class="sf-text-color contactUsLabel">Name:</td>
                        <td>
                            <input type="text" name="name" style="width: 100%;">
                        </td>
                    </tr>
                    <tr  class="contactUs">
                        <td class="sf-text-color contactUsLabel">Contact No:</td>
                        <td>
                            <input type="number" name="contactNo" style="width: 100%;">
                        </td>
                    </tr>
                    <tr  class="contactUs">
                        <td class="sf-text-color contactUsLabel">Email:</td>
                        <td>
                            <input type="email" name="emailId" style="width: 100%;">
                        </td>
                    </tr>
                    <tr  class="contactUs">
                        <td class="sf-text-color contactUsLabel">Location:</td>
                        <td>
                            <input type="text" name="location" style="width: 100%;">
                        </td>
                    </tr>
                    <tr>
                        <td class="sf-text-color contactUsLabel">Message:</td>
                        <td>
                            <textarea rows="4" cols="30">
                            </textarea>
                        </td>
                    </tr>
                    <tr  class="contactUs">
                        <td></td>
                        <td>
                            <button type="submit" value="Submit">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div id="map"></div>
        </div>
    </div>
</section>
