#footer {
    background-color: #191d1f;
    color: #d1d1d1;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 25px;
}

.footer-items {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 4%;

    ul {
        padding-left: 0px;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: #d1d1d1;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            
        }
    }

   
    
}

.fa.fa-angle-double-right {
    margin-right: 8px;
}