<footer id="footer">
  <div class="row footer-items">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <h3>Quick Links</h3>
      <ul>
        <li>
          <a href="#">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>Home</a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>Courses</a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>Students</a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>About Us</a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>Contact</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <h3>Courses</h3>
      <ul>
        <li>
          <a id="mega">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>Mega (For XI to XII moving students)</a>
        </li>
        <li>
          <a id="micro">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>Micro (For X to XI moving students)</a>
        </li>
        <li>
          <a id="googol">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>Googol (For XII Pass students)</a>
        </li>
        <li>
          <a id="nano">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>Nano (For X to XI moving students)</a>
        </li>
        <li>
          <a id="googolMain">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>Googol Main (For XII Appearing & Pass Students)</a>
        </li>
        <li>>
          <a id="edge">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>Edge VIII (For VII to VIII moving students)</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <h3>SLP</h3>
      <ul>
        <li>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          <a>Welcome</a>
        </li>
        <li>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          <a>From Director's Desk</a>
        </li>
        <li>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          <a>Teaching</a>
        </li>
        <li>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          <a>Winners Testimony</a>
        </li>
        <li>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          <a>Photo Gallery</a>
        </li>
        <li>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          <a>Indian Institute Of Technology</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <h3>Contact</h3>
      <p>
        <span class="glyphicon glyphicon-map-marker"></span> Kalpataru Hall, Balaji Plots, Khamgaon - 444303, Maharashtra
      </p>
      <p>
        <span class="glyphicon glyphicon-earphone"></span>+91-9422926950/(07263)252962
      </p>
      <p>
        <span class="glyphicon glyphicon-envelope"></span>
        <input type="email" name="emailId" value="Your email address">
      </p>
      <p>Email us ! We will keep posted with our latest product release</p>
      <!-- <div class="social-media">
        <a href="https://www.facebook.com/Stimulus-Learning-Point-321070051402291/">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </div> -->
    </div>
  </div>
</footer>
