    <header class="row" id="brand-logo-wrapper">
        <div id="logo">
            <a>
                <img src="../../../assets/images/facebook.png" alt="Vibrant Academy" width="443" height="83" border="0">
            </a>
        </div>
    </header>
    <header class="row" id="content-header-wrapper">
        <nav class="navbar navbar-default home-page-navbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-page-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="home-page-navbar">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['/home']">HOME</a></li>
                    <li class="dropdown"><a class="dropbtn">COURSES</a>
                      <div class="courses-dropdown">
                          <a id="mega">Mega (For XI to XII moving students)</a>
                          <a id="micro">Micro (For X to XI moving students)</a>
                          <a id="googol">Googol (For XII Pass students)</a>
                          <a id="nano">Nano (For X to XI moving students)</a>
                          <a id="googolMain">Googol Main (For XII Appearing & Pass Students)</a>
                          <a id="edge">Edge VIII (For VII to VIII moving students)</a>
                      </div>
                    </li>
                    <li class="dropdown"><a class="dropbtn">STUDENTS</a>
                      <div class="students-dropdown">
                          <div class="dropdown-content">
                              <a id="performanceReport">Performance Report</a>
                              <a id="attendanceReport">Attendance Report</a>
                          </div>
                      </div>
                    </li>
                    <li class="dropdown"><a class="dropbtn">ABOUT US</a>
                        <div class="aboutUs-dropdown">
                            <div class="dropdown-content">
                                <a id="welcome">Welcome</a>
                                <a id="directorsDesk">From Director's Desk</a>
                                <a id="teaching">Teaching</a>
                                <a id="winnersTestimony">Winners Testimony</a>
                                <a id="photoGallery">Photo Gallery</a>
                                <a id="iit">Indian Institute Of Technology</a>
                                <a id="faq">FAQ</a>
                                <a id="alumni">Alumni</a>
                            </div>
                        </div>
                    </li>
                    <li><a [routerLink]="['/contact']">CONTACT</a></li>
                </ul>
                <ul class="nav navbar-nav" id="social">
                        <li>
                            <a href="https://www.facebook.com/Stimulus-Learning-Point-321070051402291/">
                            <img src="../../../assets/images/facebook.png" alt="Facebook" width="25" height="25" border="0"></a>
                        </li>
                </ul>
            </div>
            <!-- /.navbar-collapse div-->
        </nav>
      </header>

